.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
    margin-top: 66px;
    overflow: hidden;
    background-color: #151717;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
.css-45fs7h-MuiDrawer-docked .MuiDrawer-paper {
    margin-top: 66px;
    overflow: hidden;
    background-color: #151717;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
//* {
//    font-size: 1.6rem;
//    font-family: 'Poppins', sans-serif;
//
//}
.css-45fs7h-MuiDrawer-docked {
.MuiDrawer-paper {
.css-173f0fe-MuiList-root {
.css-uxa1ks-MuiListItem-root {
.css-1m5i5w0-MuiButtonBase-root-MuiListItemButton-root {
.css-1ic4du8-MuiListItemText-root {
.css-10hburv-MuiTypography-root{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color:rgb(255,255,255,0.6);
&:hover {
     color: #ffffff;
 }
}
}
}
}

}
.css-h4y409-MuiList-root {
.css-uxa1ks-MuiListItem-root{
.css-1m5i5w0-MuiButtonBase-root-MuiListItemButton-root {
.css-1ic4du8-MuiListItemText-root {
.css-10hburv-MuiTypography-root {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color:rgb(255,255,255,0.6);
&:hover {
     color: #ffffff;
 }
}
}
}
}
}
}
}