@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif;
}
.navbar {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) ;
}
.navbar a {
    text-decoration: none;
    color: gray;
}