.main_eco {
  margin: auto;
  .main_eco_content {
    margin: auto;
  }
  .main_eco_card {
    .buy_card {
      .card_item {
        padding: 10px;
      }
      .to_link {
        border-radius: 10px;
        display: flex;
        gap:5px;
        text-decoration: none;
        color: #222;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        span {
          margin: auto;
        }
        svg {
            font-size: 7rem;
            color: rgb(135,255,157);
          }

        span {

        }
      }
    }
  }
}