.main_eco {
  .main_eco_content {
    margin: auto;
  }
  .main_eco_card {
    .buy_card {
      .to_link {
          svg {
            font-size: 8rem;
            color: #fcca04;
          }

        span {

        }
      }
    }
  }
}